################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/bin
/obj
/packages
/SpectrumPlotter.csproj.user
*.user
