<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitInfo" version="2.2.0" targetFramework="net48" />
  <package id="ILMerge" version="3.0.29" targetFramework="net48" />
  <package id="MathNet.Numerics" version="5.0.0-alpha07" targetFramework="net48" />
  <package id="MSBuild.ILMerge.Task" version="2.0.0-pre501" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="ScottPlot" version="4.1.27" targetFramework="net48" />
  <package id="ScottPlot.WinForms" version="4.1.27" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>